body {
	color: var(--color-dark);
	font-family: var(--font-family-main);
	font-size: var(--font-size-main);
	line-height: var(--line-height);
	font-weight: 400;
}
a {
	color: inherit;
}
/* HEADER */
.header {
	position: fixed;
	inset: 0 0 auto;
	z-index: 1;
	font-family: var(--font-family-heading);
	padding: 25px 0;
}
.header.scrolled {
	transition: background-color 0.3s ease-in;
	background-color: #fff;
}
.header.scrolled .burger-menu__line {
	background-color: var(--color-dark);
}
.header-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-nav {
}
.header-menu {
	color: black;
	text-transform: uppercase;
	position: absolute;
	inset: 0 0 auto;
	width: 100%;
	height: 72%;
	z-index: 1;
	background-color: #fff;
	transform: translateY(-800%);
	transition: all 0.5s ease-in-out;
}
.header-menu.active {
	transform: translateX(0);
	padding-bottom: 460px;
}
.menu-wrapper {
	position: relative;
	top: 110px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.menu-item {
	--font-size: 24px;
	font-size: var(--font-size);
	transition: color 0.2s ease-in;
}
/* Burger Menu */
.menu-icon {
	width: 24px;
	height: 16px;
	cursor: pointer;
	position: relative;
	z-index: 1;
}
.burger-menu__line {
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: var(--color-white);
	border-radius: 45px;
	transition: 0.5s;
}
.burger-menu__line:nth-child(2) {
	top: 50%;
	transform: translateY(-50%);
}
.burger-menu__line:nth-child(3) {
	bottom: 0;
}
/* .burger-menu__line.scroll {
	background-color: var(--color-dark);
} */
.menu-icon.active .burger-menu__line {
	background-color: var(--color-dark);
}
.menu-icon.active .burger-menu__line:nth-child(1) {
	transform: translateY(7px) rotate(45deg);
}
.menu-icon.active .burger-menu__line:nth-child(2) {
	transform: translateX(50%);
	opacity: 0;
	visibility: hidden;
}
.menu-icon.active .burger-menu__line:nth-child(3) {
	transform: translateY(-7px) rotate(-45deg);
}
/* HERO */
.hero {
	height: 100vh;
}
.hero-wrapper {
}
/* HERO-CONTENT */
.hero-inner {
	max-width: 51%;
	padding-top: 31vh;
}
.hero-title {
	margin-bottom: 3vh;
}
.hero-subtitle {
	margin-bottom: 7vh;
}
.hero-link {
}
/* HERO-DECOR */
.hero-decor {
	position: absolute;
	inset: 80vh 0 auto;
	z-index: -1;
	--font-size: 88px;
	font-size: var(--font-size);
	display: flex;
	justify-content: center;
	gap: 30px;
	font-family: var(--font-family-heading);
	text-transform: uppercase;
	overflow: hidden;
}
.hero-decor--left {
	transform: translateX(-200%);
	animation: slidein 2s forwards;
}
.hero-decor--right {
	color: var(--color-white);
	transform: translateX(200%);
	animation: slideout 2s forwards;
}
@keyframes slidein {
	0% {
		transform: translateX(-200%);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes slideout {
	0% {
		transform: translateX(200%);
	}
	100% {
		transform: translateX(0);
	}
}
/* HERO-BG */
.hero-bg {
	position: absolute;
	inset: 0px 0px 0px auto;
	z-index: -1;
	height: 100%;
	width: 49%;
	object-fit: cover;
}
/* /HERO/ */
