body {
	color: var(--color-dark);
	font-family: var(--font-family-main);
	font-size: 14px;
	line-height: 1.4;
	font-weight: 400;
}
a {
	color: inherit;
}
/* HEADER */
.header {
	position: fixed;
	inset: 0 0 auto;
	z-index: 100;
	font-family: var(--font-family-heading);
	padding: 25px 0;
}
.header.scrolled {
	transition: background-color 0.3s ease-in;
	background-color: var(--color-white);
}
.header.scrolled .burger-menu__line {
	background-color: var(--color-dark);
}
.header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menu-header {
	color: black;
	text-transform: uppercase;
	position: absolute;
	inset: 0 0 auto;
	width: 100%;
	height: 72%;
	z-index: 1;
	background-color: var(--color-white);
	transform: translateY(-800%);
	transition: all 0.5s ease-in-out;
}
.menu-header.active {
	transform: translateX(0);
	padding-bottom: 460px;
}
.menu-header__wrapper {
	position: relative;
	top: 110px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.menu-header__item {
	font-size: 24px;
	transition: color 0.2s ease-in;
}
/* Burger Menu */
.burger-menu__icon {
	width: 24px;
	height: 16px;
	cursor: pointer;
	position: relative;
	z-index: 1;
}
.burger-menu__line {
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: var(--color-white-accent);
	border-radius: 45px;
	transition: 0.5s;
}
.burger-menu__line:nth-child(2) {
	top: 50%;
	transform: translateY(-50%);
}
.burger-menu__line:nth-child(3) {
	bottom: 0;
}
.burger-menu__icon.active .burger-menu__line {
	background-color: var(--color-dark);
}
.burger-menu__icon.active .burger-menu__line:nth-child(1) {
	transform: translateY(7px) rotate(45deg);
}
.burger-menu__icon.active .burger-menu__line:nth-child(2) {
	transform: translateX(50%);
	opacity: 0;
	visibility: hidden;
}
.burger-menu__icon.active .burger-menu__line:nth-child(3) {
	transform: translateY(-7px) rotate(-45deg);
}
/* HERO */
.hero {
	height: 100vh;
	margin-bottom: 100px;
}
.hero__content {
	max-width: 51%;
	padding-top: 31vh;
}
.hero__title {
	margin-bottom: 3vh;
}
.hero__subtitle {
	margin-bottom: 7vh;
}
.decor-hero__text {
	position: absolute;
	inset: 80vh 0 auto;
	z-index: -1;
	font-size: 88px;
	display: flex;
	justify-content: center;
	gap: 30px;
	font-family: var(--font-family-heading);
	text-transform: uppercase;
	overflow: hidden;
}
.decor-hero__text--left {
	transform: translateX(-200%);
	animation: slidein 2s forwards;
}
.decor-hero__text--right {
	color: var(--color-white-accent);
	transform: translateX(200%);
	animation: slideout 2s forwards;
}
@keyframes slidein {
	0% {
		transform: translateX(-200%);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes slideout {
	0% {
		transform: translateX(200%);
	}
	100% {
		transform: translateX(0);
	}
}
/* HERO-BG */
.decor-hero__img {
	position: absolute;
	inset: 0px 0px 0px auto;
	z-index: -1;
	height: 100%;
	width: 49%;
	object-fit: cover;
}
/* ABOUT */
.about {
	margin-bottom: 100px;
}
.about__info {
	position: relative;
	margin-bottom: 100px;
}
.about__inner {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.about__title {
	margin-bottom: 80px;
	text-transform: uppercase;
}
.about__items {
	display: flex;
	gap: 40px;
	text-align: center;
	transform: translateY(40%);
}

.about__item {
	max-width: 197px;
}
/* ABOUT-PROMO */
.promo-about {
	cursor: pointer;
}
.promo-about__inner {
	width: 100%;
	height: 456px;
}
.promo-about__video {
	position: absolute;
	inset: auto 0;
	width: 100%;
	height: 456px;
	object-fit: cover;
}
.promo-about__controls {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.promo-about__btn {
	position: absolute;
	width: 92px;
	height: 92px;
	padding: 27px;
	border-radius: 50%;
	backdrop-filter: blur(29.87px);
	background: linear-gradient(
		141.43deg,
		rgba(255, 255, 255, 0.45) 17.493%,
		rgba(255, 255, 255, 0) 89.313%,
		rgba(255, 255, 255, 0) 89.313%
	);
	border: 1px solid rgba(255, 255, 255, 0.6);
	cursor: pointer;
	transition: all 0.3s;
}
.promo-about__pause-btn {
	opacity: 0;
}
/* FACILITIES */
.facilities {
	position: relative;
}
.facilities__title {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 80px;
}
.facilities__swiper {
}
.facilities__swiper-wrapper {
	display: flex;
	flex-direction: column;
}
.swiper-wrapper {
}
.facilities__swiper-slide {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.swiper-slide {
}
.facilities__swiper-images {
	height: 100svh;
	max-width: 48%;
}
.facilities__swiper-img {
	position: absolute;
	left: 0;
	object-fit: cover;
	height: 100svh;
	max-width: 49%;
}
.facilities__swiper-card {
	display: flex;
	flex-direction: column;
	gap: 40px;
	max-width: 45%;
}
.swiper-card__facilities {
}
.facilities__swiper-title {
}
.swiper-card__facilities-inner {
	display: flex;
	flex-direction: column;
	gap: 40px;
	margin-bottom: 40px;
}
.swiper-card__facilities-subtitle {
}
.subtitle-text {
}
.swiper-card__facilities-info {
}
.swiper-card__facilities-heading {
	margin-bottom: 20px;
}
.swiper-card__facilities-items {
}
.swiper-card__facilities-item {
	margin-bottom: 5px;
}
.swiper-card__facilities-item:last-child {
	margin-bottom: 0;
}
.swiper-card__facilities-link {
}
.link--primary {
}
.swiper-card__facilities-text {
}
.link-text--primary {
}
.swiper-card__facilities-arrow {
}
.link-arrow--primary {
}
.facilities__swiper-pagination {
}
.swiper-pagination {
}
