<<<<<<< HEAD
.container {
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 20px;
}
.main-section__header {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-bottom: 100px;
}
h1 {
	font-family: var(--font-family-heading);
	font-size: 44px;
	font-weight: 500;
	text-transform: uppercase;
}
h2 {
	font-family: var(--font-family-heading);
	font-size: 38px;
	font-weight: 500;
	text-transform: uppercase;
}
h5 {
	margin: 0;
	font-size: 14px;
}
.card-heading {
	font-family: var(--font-family-heading);
	font-size: 24px;
	font-weight: 400;
	text-transform: uppercase;
}
.subtitle {
	/* subtitle */
	font-size: 16px;
	color: var(--color-dark);
}
.subtitle-text {
	/* subtitle-text */
	font-size: 16px;
	color: var(--color-grey);
}
p {
	font-weight: 500;
	line-height: 1.6;
	color: var(--color-grey);
}
.price {
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	font-family: var(--font-family-heading);
}
.link--primary {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 14px;
	width: max-content;
	padding: 10px 20px;
	border: 1px solid var(--color-dark);
	border-radius: 60px;
	color: var(--color-dark);
	stroke: var(--color-dark);
	cursor: pointer;
}
.link-text--primary {
	font-family: var(--font-family-heading);
	font-weight: 500;
	text-transform: uppercase;
	transition: all 0.5s;
	text-align: center;
}
.link-arrow--primary {
	width: 22px;
	height: 16px;
	transition: all 0.5s;
}
/* PAGE/booking-page */
.selecting-form__inner {
	display: flex;
	justify-content: space-between;
	gap: 40px;
	height: 100%;
}
.booking-select {
	cursor: pointer;
	padding: 0px 1px 5px;
	font-weight: 500;
	list-style-type: none;
	background: none;
	border: none;
	user-select: none;
}
.booking-select::-webkit-details-marker {
	display: none;
}
/* PAGE/room-standard */
.services-title {
	margin-bottom: 20px;
}
.services-items {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.services-item {
	position: relative;
	margin-left: 14px;
}
.services-item::before {
	content: url("../img/icons/ellipse-li.svg");
	width: 6px;
	height: 6px;
	position: absolute;
	top: -2px;
	bottom: 0;
	left: -13px;
}
=======
.container {
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 20px;
}
.main-section__header {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-bottom: 100px;
}
h1 {
	font-family: var(--font-family-heading);
	font-size: 44px;
	font-weight: 500;
	text-transform: uppercase;
}
h2 {
	font-family: var(--font-family-heading);
	font-size: 38px;
	font-weight: 500;
	text-transform: uppercase;
}
.card-heading {
	font-family: var(--font-family-heading);
	font-size: 24px;
	font-weight: 400;
	text-transform: uppercase;
}
.subtitle {
	/* subtitle */
	font-size: 16px;
	color: var(--color-dark);
}
.subtitle-text {
	/* subtitle-text */
	font-size: 16px;
	color: var(--color-grey);
}
p {
	font-weight: 500;
	line-height: 1.6;
	color: var(--color-grey);
}
.price {
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	font-family: var(--font-family-heading);
}
.link--primary {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 14px;
	width: max-content;
	padding: 10px 20px;
	border: 1px solid var(--color-dark);
	border-radius: 60px;
	color: var(--color-dark);
	stroke: var(--color-dark);
	cursor: pointer;
}
.link-text--primary {
	font-family: var(--font-family-heading);
	font-weight: 500;
	text-transform: uppercase;
	transition: all 0.5s;
	text-align: center;
}
.link-arrow--primary {
	width: 22px;
	height: 16px;
	transition: all 0.5s;
}
/* PAGE/booking-page */
.selecting-form__inner {
	display: flex;
	justify-content: space-between;
	gap: 40px;
	height: 100%;
}
.booking-select {
	cursor: pointer;
	padding: 0px 1px 5px;
	font-weight: 500;
	list-style-type: none;
	background: none;
	border: none;
	user-select: none;
}
.booking-select::-webkit-details-marker {
	display: none;
}
/* PAGE/room-standard */
.services-title {
	margin-bottom: 20px;
}
.services-items {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.services-item {
	position: relative;
	margin-left: 14px;
}
.services-item::before {
	content: url("../img/icons/ellipse-li.svg");
	width: 6px;
	height: 6px;
	position: absolute;
	top: -2px;
	bottom: 0;
	left: -13px;
}
>>>>>>> 16588e38305bf76cafc79886fd0cd2adcabc799d
