@media (hover: hover) {
	.selecting-plan__item:hover {
		color: var(--color-olive);
	}
}
@media (max-width: 1024px) {
	.selecting {
		height: 890px;
	}
	.selecting__title {
		--margin-bottom-title-h2: 30px;
	}
	.selecting__form {
		flex-direction: column;
	}
	.selecting-form__inner {
		flex-direction: column;
		align-items: center;
	}
	.selecting-date__input {
		touch-action: manipulation;
		outline: unset;
	}
	/* .selecting-date__input:focus {
		outline: unset;
	} */
	.selecting__details {
		gap: 26px;
	}
	.selecting-counter__btn {
		padding: 2px 12px;
	}
}
@media (max-width: 768px) {
	.selecting__title {
		font-size: 28px;
	}
}
@media (max-width: 480px) {
}
@media (max-width: 390px) {
}
