/* HEADER */
.header .burger-menu__line {
	background-color: var(--color-dark);
}
.header {
	background-color: var(--color-white);
}
.header.scrolled {
	transition: none;
}
/* SELECTING */
.selecting {
	position: relative;
	color: var(--color-white-accent);
	margin-top: 90px;
	background-image: url("../../img/booking-page/selecting/selecting-bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: calc(100vh - 90px);
	width: 100%;
}
.selecting__wrapper {
	position: absolute;
	top: 13%;
	left: 0;
	right: 0;
	max-width: 890px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 100px;
}
.selecting__header {
	text-align: center;
}
.selecting__text {
	color: inherit;
}
.selecting__form {
	display: flex;
	justify-content: space-between;
}
.selecting-input__container {
	position: relative;
	max-width: 165px;
}
.selecting-input__container::after {
	content: url("../../img/icons/calendar.svg");
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
}
.selecting-form__input {
	position: relative;
	z-index: 1;
	background: none;
	border: none;
	color: var(--color-white);
	border-bottom: 2px solid var(--color-white);
	padding: 0px 1px 5px;
}
.selecting-form__input::placeholder {
	color: var(--color-white);
}
.selecting-form__input:focus {
	outline: 0;
}
.selecting-form__input:hover {
	cursor: pointer;
}
/* тест */
.custom-select {
	position: relative;
	width: 220px;
}

.select-header {
	position: relative;
	padding: 0 1px 5px;
	border: none;
	border-bottom: 2px solid var(--color-white);
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: none;
	margin-bottom: 14px;
	width: 100%;
	text-align: left;
	color: inherit;
	font: inherit;
}

.select-header::after {
	content: url(../../img/icons/arrow-toggle.svg);
	display: inline-block;
	margin-left: 8px;
	transition: transform 0.3s ease;
}

.custom-select[aria-expanded="true"] .select-header::after {
	transform: rotate(180deg);
}

.header-text {
	text-transform: lowercase;
}

.select-dropdown {
	display: none;
	position: absolute;
	width: 100%;
	border-radius: 10px;
	color: var(--color-dark);
	background-color: var(--color-white);
	z-index: 10;
	max-height: 200px;
}

.custom-select[aria-expanded="true"] .select-dropdown {
	display: block;
}

.select-item {
	margin: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 500;
}

/* .item-name {
} */

.counter-container {
	display: flex;
	gap: 12px;
	align-items: center;
}

.counter-btn {
	padding: 5px;
	cursor: pointer;
	background: none;
	border: none;
}
.item-counter {
	width: 20px;
	text-align: center;
}

/* .counter-btn:focus {
	outline: 2px solid var(--color-dark);
	outline-offset: 2px;
} */
/* .custom-select {
	position: relative;
	width: 220px;
	height: 20px;
}
.select-header {
	padding: 0px 1px 5px;
	border-bottom: 2px solid var(--color-white);
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: none;
	margin-bottom: 14px;
}

.select-header::after {
	content: url(../../img/icons/arrow-toggle.svg);
	position: absolute;
	right: 0;
	top: 0;
	transition: transform 0.3s ease;
}
.custom-select[active] .select-header::after {
	transform: rotate(180deg);
}
.header-text {
	text-transform: lowercase;
}
.arrow {
	transition: transform 0.2s;
}
.select-dropdown {
	display: none;
	position: absolute;
	width: 100%;
	border-radius: 10px;
	background: white;
	z-index: 10;
	max-height: 200px;
	overflow-y: auto;
}
.select-item {
	margin: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 500;
}
.select-item:last-child {
	border-bottom: none;
}
.item-name {
	color: var(--color-dark);
}
.counter-container {
	display: flex;
	gap: 12px;
	align-items: center;
}
.counter-btn {
	padding: 6px 3px;
	cursor: pointer;
	background: none;
	border: none;
}
.item-counter {
	color: var(--color-dark);
} */
/* Анимация стрелки при открытии */
.custom-select.active .arrow {
	transform: rotate(180deg);
}
.custom-select.active .select-dropdown {
	display: block;
}
/* .selecting-form__select {
	width: 220px;
	color: var(--color-white);
	padding: 0px 1px 5px;
	border: none;
	border-bottom: 2px solid var(--color-white);
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: none;
}
.selecting-form__select:focus {
	outline: 0;
}
.selecting-form__option {
	color: var(--color-dark);
}
.selecting-form__option:hover {
	margin-top: 40px;
	cursor: pointer;
	background-color: var(--color-olive);
} */
.dropdown {
	position: relative;
	width: 220px;
}
.dropdown summary {
	padding-bottom: 5px;
	border-bottom: 2px solid var(--color-white);
	cursor: pointer;
	list-style: none;
	margin-bottom: 14px;
}
.dropdown summary::after {
	content: url(../../img/icons/arrow-toggle.svg);
	position: absolute;
	right: 0;
	top: 0;
	transition: transform 0.3s ease;
}
.dropdown[open] summary::after {
	transform: rotate(180deg);
}
.dropdown ul {
	display: flex;
	flex-direction: column;
	gap: 20px;
	position: absolute;
	width: 100%;
	padding: 0;
	margin: 0;
	background: white;
	border-radius: 10px;
	background-color: var(--color-white);
	padding: 20px;
	list-style: none;
}
.dropdown li button {
	width: 100%;
	text-align: left;
	background: none;
	border: none;
	cursor: pointer;
	transition: color 0.2s ease-in;
}
.dropdown li button:hover {
	color: var(--color-olive);
}
