@media (max-width: 768px) {
	.main {
		--margin-bottom-section: 40px;
	}
	.details__wrapper {
		flex-direction: column;
	}
	.details {
		margin: 130px 0px 120px;
	}
	.details__title {
		--margin-bottom-title-h2: 20px;
		margin-bottom: var(--margin-bottom-title-h2);
	}
	.details__wrapper {
		position: relative;
		gap: 0;
	}
	.details__info {
		max-width: 100%;
		margin-bottom: 40px;
	}
	.details-link {
		position: absolute;
		left: 0;
		bottom: -80px;
		right: 0;
	}
	.details__check {
		gap: 20px;
		min-width: 100%;
	}
	.details-check__text {
		grid-template-columns: auto 220px;
	}
	.details-check__concept {
		max-width: 100px;
	}
	/* SERVICES */
	.services__box {
		grid-template-columns: auto;
		row-gap: 20px;
	}
	.services-facilities__wrapper {
		flex-direction: column;
		gap: 8px;
	}
}
@media (max-width: 480px) {
	.details-check__text {
		grid-template-columns: auto 170px;
	}
}
